<header>
    <div class="hero">
        <h1 class="heading">Yetkazib berish xizmati</h1>
        <br>
        <span class="spanus">Harid uchun sovg'a ! ! !</span>
        <br><br>
        <span class="spanus">aksiya 25%</span>
    </div>
    <p class="paragraf">Oyning oxirigacha ! Shoshiling</p>

    
</header>