* {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: none;
    box-sizing: border-box;
}

nav,
.page-footer {
    background: rgb(31, 175, 31);
}

.bodyContent {
    height: 81.8vh;
}
.books {
    margin-top: 100px;
    
}

nav ul li a {
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.heading {
    display: inline-block;
    background: green;
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 200px;
    margin-left: 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 62px;
}

.spanus {
    position: absolute;
    background: rgb(5, 149, 5);
    border-radius: 50px;
    padding: 15px 50px;
    margin-top: -25px;
    margin-left: 100px;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
}

.spanus:last-child {
    position: absolute;
    background: rgb(11, 182, 11);
    border-radius: 50px;
    padding: 15px 50px;
    margin-top: 5px;
    margin-left: 80px;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
}

.paragraf {
    position: absolute;
    background: rgb(0, 206, 0);
    /* transform: translateY(400px); */
    border-radius: 50px;
    padding: 15px 50px;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 80px;
    margin-left: 150px;
}

table {
    max-width: 800px;
    margin: auto;
    border: 1px solid black;
}

body {
    background: url(/images/SAPR_004-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 95%;
}

.hero{
    margin-top: 42px;
}

.about-heading{
    background: green;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 62px;
}

.about-p{
    color: #fff;
    background: rgb(5, 149, 5);
    border-radius: 25px;
    padding: 20px 40px;
    font-size: 18px;
}


.card{
    margin-bottom: 50px;
    background:rgb(8, 134, 8) ;
}
.card p{
color: #fff;
}
.card-content{
    background:rgb(8, 219, 8) ; 
}
.asd{
    background: green;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 32px;
    width: 300px;
    margin: auto;
    margin-top: 42px;
}

.mt{
    color: #fff;
}
.books::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .books::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .books::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .books::-webkit-scrollbar-thumb:hover {
    background:  green; 
  }

  form{
      margin-top: 42px;
      color: green;
  }

  ::placeholder{
      color: green;
  }

  input{
      color: green;
      }
  
  .btn{
      background: green;
      transition: .5s;
  }

  .btn:hover{
      transform: scale(1.1);
      background: green;
  }